<!DOCTYPE html>
<html>
<head>
  <meta name="twitter:" content="utf-8">
  <title>
    {{uppercase pageTitle}}
  </title>
</head>
<body>
<h1>Halp page</h1>
<p>this is the page </p>
{{> header}}
{{> footer}}
</body>
</html>
